<footer class="footer">
	<div class="footer">
		<address>
        	<Strong>Hubungi kami :</strong><br>
			Jalan Ring Road Utara, <br>
			Perumahan Griya Perwita Asri 1, <br>Blok D, Nomor 2, Sleman, Yogyakarta <br>
			Telepon (0237)
		</address>
	</div>
	<div class="span12">
		<ul>
			<li><%= link_to "About", abouts_path %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><%= link_to "Facebook", "https://www.facebook.com/groups/214421571930142/" %></li>
			<li><%= link_to "Twitter", "https://www.facebook.com/groups/214421571930142/" %></li>
		</ul>
	</div>
	<div class="span6 offset1">
	<ul>
		<li>Copyright &copy; 2014 Agus Jayadi</li>
	</ul>
</footer>