<div class="span2">
<%= image_tag("oni.jpg", class: "img-circle") %>
Ketua himpunan pelajar mahasiswa sumbawa barat 2014-2015<br>
<h4># Oni Saputra</h4>
<br>

<%= image_tag("bustanul.jpg", class: "img-circle") %>
Pembina himpunan pelajar mahasiswa sumbawa barat <br>
<h4># Bustanul Amri</h4>
</div>

