<button class="btn btn-large btn-success btn-block">
    <i class="icon-th-list icon-white"></i> Agenda
</button>
<table class="table table-striped">
  <thead>
   
      <tr>
        <th>Tanggal</th>
        <th>Acara</th>
        <th>Tempat</th>
      </tr>
    
  </thead>
  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.date %></td>
        <td><%= raw agenda.event %></td>
        <td><%= raw agenda.venue %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>