<p id="notice"><%= notice %></p>


  <strong>Author:</strong>
  <%= @comment.author %><br>

  <strong>Body:</strong>
  <%= raw @comment.body %><br>

  <strong>Post:</strong>
  <%= raw @comment.post %>
